<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} | Host %X{host} [%X{applicationName}] [%thread]  %-5level | %logger{36} - %msg{nolookups}%n</pattern>
        </encoder>
    </appender>

    <appender name="CLOUDWATCH" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg{nolookups}%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="OFF"/>
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="OFF"/>
    <logger name="com.devblack21.rinha.backend.crebito.core.exception.NotLimitException" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="CLOUDWATCH"/>
    </root>

</configuration>
